@import 'variables';
@import 'grid';
@import 'showhide';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

/* Class Colors */

.lab-yellow {
  color: $primary-color;
}

.lab-grey {
  color: $secondary-color;
}

.text-center {
  text-align: center;
}

.right {
  text-align: right;
}

@media #{$large-and-up} {
  
  p.col.s12.l7.small-title{
    margin: 0;
  }

  .center-padding{
    padding: 0.82rem 0 !important;
  }

  .control-padding-left{
    padding: 0 0.75rem 0 0 !important;
  }

  .control-padding-right{
    padding: 0 0 0 0.75rem !important;
  }  
}

a {
  text-decoration: none;
  color: white;
}

.logo-main {
  margin: 20px 0; 
}

.menu {
  padding: 10px;
  background-color: $primary-color;
}

.menu > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

@for $i from 0 through 31{
  .news-#{$i}{
    background-image: url(../img/news/news-#{$i}.png);
  }
}

.image,
.small-image {
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
}

.image {
  min-height: 400px !important;
}

.small-image {
  min-height: 120px !important;
  padding: 0;

}

.text-container{
  position: absolute;
  bottom: 2vw;
  left: 2vw;
}

.title{
  font-size: calc(100% + 1.5vw);
  font-weight: bolder;
}

.center-large-container{
  height: 120px;
}

.small-container{
  height: 100px;
}

.small-container,
.center-large-container{
  background-color: $secondary-color;
  color: white;
  display: flex;
  align-items: center;
}